/* Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700italic);
/* Background Images */
html { font-size: 18px; font-family: 'Lato', sans-serif;  font-weight: 300; line-height: 1.4em; box-sizing: border-box; }
*, *:before, *:after {
  box-sizing: inherit;
}

body { font-family: 'Lato', sans-serif; }
body.page-id-2 .tm-top-a { background: url(http://rootssalonspa.com/wp-content/uploads/2015/06/home-hero-desat-1920.jpg) no-repeat top center; 
                           -webkit-background-size: cover;
                           -moz-background-size: cover;
                           -o-background-size: cover;
                           background-size: cover;
                           height: 85vh;
}
.salon-image-1 { background: url(http://rootssalonspa.com/wp-content/uploads/2015/06/salon-front.jpg) no-repeat center center; }
body.page-id-2 .image { background: url(http://rootssalonspa.com/wp-content/uploads/2015/06/salon-dye.jpg) no-repeat center center; }

body.page-id-2 .tm-content { padding: 0; }
body.page-id-2 h1.uk-article-title { display: none; }


.large-product-cta-teaser { background: url(http://rootssalonspa.com/wp-content/uploads/2015/06/top-product-teaser.jpg) no-repeat top center; padding: 25px 0;}
.large-product-cta-teaser .overlay { padding: 35px 0;  background: rgba(105,38,86,.7); text-align: center; }
.overlay h1, .overlay h2, .overlay h3, .overlay p, .overlay { color: #fff; }
body.page-id-2 .tm-top-a .uk-panel-box { position: relative!important; height: 100%; }

/* general style */
.uk-subnav>* { margin-top: 0; }
a, a:visited, a:hover { text-decoration: none; }
.green-text { color: #989a6c; }
.purple-text { color: #692656; }
.uk-article { background: rgba(152, 154, 108, 0.4); }
.uk-article a, .uk-article a:visited { color: #692656; font-weight: 700;}
.uk-article a:hover { text-decoration: underline; -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;}
.padding { padding: 30px; }
.center { text-align: center; }
/*.tm-content { background: #fff; }*/


.quote-block {
  background: #f9f9f9;
  border-left: 10px solid #692656;
  margin: 1.5em 10px 1.5em 0;
  padding: 1.8em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.quote-block:before {
  color: #692656;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.quote-block p { display: inline; font-size: 1.2em; line-height: 1.3em; letter-spacing: 1px; }
.quote-block p span { display: block; float: right; }

/* ctas */
.tm-footer a, .tm-footer span { -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.ghost-cta, .ghost-cta:visited { border: .15em solid #fff; padding: .3em 1.5em; background: none; color: #fff; font-size: 1em; -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;
    -ms-transition: background .5s ease;
    -o-transition: background .5s ease;
    transition: background .5s ease;
}
.ghost-cta:hover { background: #fff; color: #000; text-decoration: none; }
.purple-cta, .purple-cta:visited { border-color: #692656; color: #692656; }
.purple-cta:hover { background: #692656; color: #fff; }
.green-cta, .green-cta:visited { border-color: #989a6c; color: #989a6c; }
.green-cta:hover { background: #989a6c; color: #fff; }



.youtube-video {  }

.youtube-video iframe { display: inline-block; }
.youtube-video-half { width: 50%; float: left; text-align: center; display: inline; background: rgba(152, 154, 108, 0.4); padding-top: 50px; padding-bottom: 50px; margin-top: 0!important; }
.youtube-video-full { width: 100%; float: left; text-align: center; display: inline; background: rgba(152, 154, 108, 0.4); padding-top: 50px; padding-bottom: 50px; margin-top: 0!important; }
.uk-article { width: 50%; float: left; padding: 50px; }
body.home .uk-article { width: 100%; float: initial; padding: 0; }
.article-image { background: #692656; width: 50%; float: right; }




.page-id-29 { background: rgba(197,177,135, 0.3); }
.stylists { width: 60%; margin: 0 20%; padding: 60px 0; }
.stylist-container { padding: 20px 0; }
.stylist-bio-left { display: inline-block; width: 80%; padding-right: 40px; box-sizing: border-box;}
.stylist-bio-left h2 { text-align: right; }
.stylist-bio-right { display: inline-block; width: 80%; padding-left: 40px; box-sizing: border-box;}
.stylist-image { display: inline-block; width: 20%;  overflow: hidden; border: 8px solid #692656; vertical-align: top; }




.contact-form { padding: 30px 10px; }
.contact-form input, .contact-form textarea { width: 100%; padding: 8px; }
.contact-form .wpcf7-submit {  border: .15em solid #fff; padding: .3em 1.5em; background: none; color: #fff; font-size: 1em; -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;
    -ms-transition: background .5s ease;
    -o-transition: background .5s ease;
    transition: background .5s ease;
    border-color: #692656; color: #692656;
}
.contact-form .wpcf7-submit:hover { background: #692656; color: #fff; }





.instagram-container { }
.instagram-container img { width: 20%; float: left; }

/* ========================================================================
   Use this file to add custom CSS easily
 ========================================================================== */


/* beige?  #c5b187

*/
/* mobile menu */
.uk-offcanvas-bar { background: #c5b187; }
.uk-nav-offcanvas>li>a { color: #692656; }
.uk-navbar-toggle { color: #692656; }
html .uk-nav.uk-nav-offcanvas>li.uk-active>a { background: #692656; color: #fff;  }
.uk-nav-offcanvas>.uk-open>a, html:not(.uk-touch) .uk-nav-offcanvas>li>a:hover, html:not(.uk-touch) .uk-nav-offcanvas>li>a:focus { background: #692656; color: #fff; }

.black-out, .bottom-purple-out { -webkit-transition: all 1.8s ease;
                                 -moz-transition: all 1.8s ease;
                                 -ms-transition: all 1.8s ease;
                                 -o-transition: all 1.8s ease;
                                 transition: all 1.8s ease; 
                                 color: #fff;
}
.uk-container-center { max-width: 1920px; padding: 0; }
.tm-toolbar { background: #c5b187;  margin-top: 0; margin-bottom: 0; }
.tm-navbar { display: inline-block; }

.black-out { padding-top: 4em; padding-bottom: 4em; background: rgba(0,0,0,0.5); position: absolute; width: 100%;
             margin-top: 1000px;
             -webkit-transform: translate(0,50%);
             transform: translate(0,50%);
}

.black-out h1 { text-align: center; color: #fff; }
.bottom-purple-out { width: 100%; background: rgba(105,38,86,.4); color: #fff; padding-top: 2em; padding-bottom: 2em; text-align: center; }
.bottom-purple-out h1 { margin: 0;color: #fff;  }
.double-cta { text-align: center; }
.double-cta .ghost-cta:first-child { margin-right: 30px; }
.uk-panel-box { background: none; padding: 0; }



.uk-panel.widget_nav_menu { display: inline-block; }
.uk-panel.widget_nav_menu ul { padding: 0; margin: 0; }
.uk-panel.widget_nav_menu ul li { display: inline-block; padding: 0; }
.uk-panel.widget_nav_menu ul li.uk-parent {  }
//.uk-panel.widget_nav_menu ul li.uk-parent li { display: none; }
.uk-panel.widget_nav_menu ul li a { display: inline-block; font-size: 1.5em; color: #fff; font-weight: 300; text-transform: lowercase; padding: 3em 1em; }
.uk-panel.widget_nav_menu ul li:hover  { 
    background-image: -webkit-repeating-radial-gradient(center center, rgba(255,255,255,.4), rgba(255,255,255,.4) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(255,255,255,.4), rgba(255,255,255,.4) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(255,255,255,.4), rgba(255,255,255,.4) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(255,255,255,.4), rgba(255,255,255,.4) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
}
.uk-panel.widget_nav_menu ul li.uk-active {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(255,255,255,.6), rgba(255,255,255,.6) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(255,255,255,.6), rgba(255,255,255,.6) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(255,255,255,.6), rgba(255,255,255,.6) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(255,255,255,.6), rgba(255,255,255,.6) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;	
}
.uk-panel.widget_nav_menu ul li.uk-active a { text-shadow: 1px 2px 3px rgba(197,177,135,1); }
.uk-panel.widget_nav_menu ul li:hover a { text-decoration: none; }
.uk-panel.widget_nav_menu ul li img { max-height: 30px; margin-top: -8px; }
.uk-subnav-line>li:nth-child(n+2):before { content: ""; display: inline; height: 0; margin-right: 0; border-left: none; }


img.logo { margin-top: 24px; }
body.page-id-2 .tm-top-b, .tm-footer { border-top: .25em solid #c5b187; }
body.page-id-2 .large-product-cta-teaser { border-top: .25em solid #c5b187; border-bottom: .25em solid #c5b187; }


.contact h1 { color: #989a6c;text-align: center; padding-top: 30px; letter-spacing: .19em; margin-bottom: 0; }
.contact { color: #3b3b3b; }
.contact .padding { padding: 0 25px 25px 0; }

.contact .split h3 { color: #989a6c;}
.contact .split .uk-width-1-2 { padding-left: 2em;  padding-bottom: 35px;}

.video { padding-top: 2em; }

.video iframe { margin-bottom: 30px; border: .15em solid #692656; }
.video h2 { text-align: center; }




.tm-footer { background: #692656; padding: .5em 0; color: rgba(255,255,255,0.65); font-size: 1.7em; font-weight: 300;}
.tm-footer a, .tm-footer a:visited { color: rgba(255,255,255,0.65); }
.tm-footer a:hover, .tm-footer span:hover  { color: #fff; }
#back-to-top { margin-left: 4em; cursor: pointer; }



/* sheets */
.fix-cta { padding-top: 2em; }
@media (max-width: 1555px) {
    .contact h1 { letter-spacing: .1em; font-size: 2em; }
    .contact h1 img { max-height: 3em; }
    .video img { max-width: 90%; }
    
}

@media (max-width: 1172px) {
    .contact h1 { font-size: 1.5em; }
}

@media (max-width: 1085px) {
    .contact h1 img { max-height: 2em; }
    //   	.contact h1 { letter-spacing: .1em; font-size: 1.5em; }
}

@media (max-width: 950px) {
    
    
    .uk-subnav>li:nth-child(n+2) { margin-left: 0; }
}

@media (max-width: 815px) {
    .contact h1 { font-size: 1.3em; }
}

@media (min-width: 767px) {
    /* THIS IS FOR ABOVE MOBILE */
    
    .salon-image-1, .mobile-fix .image { min-height: 600px; }
    nav.tm-navbar.uk-navbar, .tm-headerbar.uk-clearfix.uk-hidden-small { display: none; }

}
@media (max-width: 767px) {
    .contact .padding { padding: 10px; } 
    .mobile-fix .split .uk-width-1-2 { width: 50%; }
    .mobile-fix .uk-width-1-2 { width: 100%; }
    .contact h1 { letter-spacing: 0; font-size: 3em; }
    .salon-image-1, .mobile-fix .image { min-height: 400px; }
    .contact h1 { padding-top: 10px;  letter-spacing: 0; }
    .tm-navbar.uk-navbar { width: 100%; }
    .tm-navbar { margin: 0; }
    .video { padding-top: 2em; padding-bottom: 3em; }
    body.page-id-2 .tm-top-a { background: url(http://rootssalonspa.com/wp-content/uploads/2015/06/home-hero-desat-767.png) no-repeat top center; height: 100vh;}

}
@media (max-width: 770px) {
    html {  font-size: 16px;}
    .uk-subnav>li:nth-child(n+2) { margin-left: 0; }
}

@media (max-width: 610px) {
    .contact h1 { font-size: 2em; }
    .bottom-purple-out h1 { font-size: 1.9em; }
    .uk-subnav>li:nth-child(n+2) { margin-left: 0; }
    .black-out { padding-top: 1em; padding-bottom: 2em; }
    .bottom-purple-out h1 { font-size: 1.4em; }
    .contact h1 { font-size: 1.6em; }
    .tm-footer { font-size: 1.2em; }
    
}